@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #005f73;
  --color-accent: #ee9b00;
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;
  --color-border: #dee2e6;
}

body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  direction: rtl;
}

.ant-otp {
  display: flex !important;
  justify-content: center !important;
}

.ant-switch[aria-checked='false'] {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.ant-switch-checked {
  background-color: #30c98f !important;
  border-color: #30c98f !important;
}